.container-form {
  width: 100%;
}

input,
textarea {
  font-size: 1rem;
  padding: 0.7rem;
  border: 2px solid #cab2ab;
  width: 100%;
  box-sizing: border-box;
}

textarea {
  min-height: 200px;
  resize: vertical;
}

.form-btn {
  padding: 0.7rem 0;
}

.container-form .input-field {
  color: #594c49;
  padding-left: 0;
  padding-right: 0;
}

.form-btn .para {
  margin-top: 1rem;
}
