.container-Projects {
  padding-top: 7rem;
}

.projects-items {
  margin: auto;
  padding-top: 1.5rem;
  padding-bottom: 5rem;
  text-align: left;
  width: 70%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
}
